* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* 
- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)
 */
body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
}
.container {
  width: 1440px;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}
@media (max-width: 575px) {
  .container {
    width: 375px;
  }
}
.card {
  width: 320px;
  padding: 15px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 15px 5px hsl(220deg 15% 55% /0.2);
}
.card img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}
.card h2 {
  text-align: center;
  margin-bottom: 15px;
  color: hsl(218, 44%, 22%);
}
.card p {
  text-align: center;
  margin-bottom: 25px;
  padding: 0 15px;
  word-spacing: 1px;
  color: hsl(220, 15%, 55%);
}
